  @{
  Layout = "_Layout";
}

<h1>@Model.Park</h1>
<hr/>

<div class="box">
    <ul>Name: @Model.Name</ul>
    <ul>City: @Model.City</ul>
    <ul>State: @Model.State</ul>
    <ul>Description: @Model.Description</ul>
    <ul>Amount of Campgrounds: @Model.Camgrounds</ul>
    <ul>Amount of climbing spots: @Model.ClimbingRoutes</ul>
    <ul>Amount of Stores: @Model.GeneralStores</ul>
</div>
