  @{
  Layout = "_Layout";
}

<h1>@Model.Park</h1>
<hr/>

<div class="box">
  <ul>
    <li>City: @Model.Name</li>
    <li>City: @Model.City</li>
    <li>City: @Model.State</li>
    <li>State: @Model.Description</li>
    <li>City: @Model.Camgrounds</li>
    <li>City: @Model.ClimbingRoutes</li>
    <li>City: @Model.GeneralStores</li>
  </ul>
</div>
