<h1>All Parks:</h1>

<ol>
@foreach (Park park in Model)
{
    <ul>
        <li>Name: @park.Name</li>
        <li>Species: @park.Description</li>
        <li>Age: @park.Campgrounds</li>
        <li>Gender: @park.ClimbingRoutes</li>
        <li>Gender: @park.GeneralStores</li>
    </ul>
    <a href="/Parks/Details/@(park.ParkId)"><p>View Details</p></a>
    <br>
}
</ol>